@use "abstracts" as *;
@use "../vendor/include-media" as *;

/* Typographical Elements - General styles
--------------------------------------------- */

button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
    transition: all 0.2s ease-in-out;
}

a {
    color: $primary-color;
    text-decoration: underline;
    text-decoration-color: $grey-7;
    font-weight: 500;
    @include transition;

    &:hover {
        color: $grey-7;
    }

    svg {
        @include transition;
    }
}

hr {
    border: 0;
    border-collapse: collapse;
    border-bottom: 1px solid currentColor;
    clear: both;
    color: $grey_3;
    margin: 1.65em auto;
}

strong {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

.clearfix {
    @include clearfix;
}

/* Paragraph and Gutenberg font sizes
--------------------------------------------- */

p {
    margin: 0 0 28px;
    padding: 0;
}
// Add !important to override Gutenberg styles.
.has-small-font-size {
    font-size: 0.9rem !important;
}

.has-normal-font-size {
    font-size: 1rem !important;
}

.has-large-font-size {
    font-size: 1.2rem;
    font-size: clamp(1.1rem, 1rem + 0.5vw, 1.25rem) !important;
}

.has-huge-font-size {
    font-size: 1.5rem;
    font-size: clamp(1.45rem, 1.2rem + 0.5vw, 1.65rem) !important;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $base-color;
    font-family: $sans-serif;
    font-weight: 600;
    line-height: 1.2;
    margin: 1.15em 0 $block-margin;
    scroll-margin-top: 5rem; // for the header to not hide the title on anchor links. https://css-tricks.com/fixed-headers-and-jump-links-the-solution-is-scroll-margin-top/

    &.entry-title,
    &.archive-title {
        margin-top: 0;
    }

    a {
        color: $base-color;

        &:hover {
            color: $primary-color;
            text-decoration: none;
        }
    }

    &:focus {
        outline: none;
    }
}

h1 {
    @include font-sizes(34px, 48px, 42px);
    // font-size: clamp(2.2rem, 1.5rem + 2.5vw, 3rem);
}

h2 {
    @include font-sizes(26px, 32px, 36px);
    // font-size: clamp(1.9rem, 1.4rem + 2vw, 2.6rem);
}

h3 {
    @include font-sizes(22px, 26px, 28px);
    // font-size: clamp(1.6rem, 1.2rem + 1vw, 1.85rem);
}

h4 {
    @include font-sizes(20px, 24px, 26px);
    // font-size: clamp(1.4rem, 1.1rem + .8vw, 1.7rem);
}

h5 {
    @include font-sizes(18px, 22px);
    // font-size: clamp(1.1rem, 1rem + .7vw, 1.4rem);
}

h6 {
    @include font-sizes(18px, 22px);
    // font-size: clamp(1.05rem, 1rem + .5vw, 1.25rem);
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Lists
--------------------------------------------- */

// Common lists
ul,
ol {
    padding-left: 2rem;
    margin: $block-margin 0;

    li {
        // padding-bottom: .5rem;

        &:last-child {
            padding-bottom: 0;
        }

        ul,
        ol {
            padding-top: 0.5rem;
        }
    }

    &.wp-block-gallery {
        padding-left: 0;

        li {
            padding-bottom: 0;
        }
    }
}

// Custom checked list
ul.checked-list {
    list-style: none;

    li {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 8px;
            right: 0;
            bottom: 0;
            left: -20px;
            width: 16px;
            height: 16px;
            background: url(../icons/utility/check.svg) no-repeat;
            background-size: cover;
        }
    }
}

ul.horizontal-list {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto 32px;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @include media(">=mobile_menu") {
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

ul.centered-list {
    padding-left: 8px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 32px;

    li {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @supports (gap: 16px) and (display: flex) {
        gap: 16px;

        li {
            margin-bottom: 0;
        }
    }
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
    max-width: 100%;
}

img {
    height: auto;
    vertical-align: top;
}

figure {
    margin: 0;
}
