@use "abstracts" as *;

/* Button
--------------------------------------------- */

$default: nth( nth( $brand_colors, 1 ), 1 ); // first color in $brand_colors array

.wp-block-button__link {
	border: 2px solid brand-color( $default );
	border-radius: $border-radius;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.55;
	padding: .5em 1.5em;
	text-decoration: none;
    text-transform: uppercase;

	.is-style-full &,
	&.full {
		display: block;
		width: 100%;
	}

	&:not(.has-text-color) {
		color: $base-color;

		&:hover {
			color: $base-color;
		}
	}

	&:not(.has-background) {
		background-color: brand-color( $default );

		&:hover,
		&:focus {
            border: 2px solid brand-color( $default, 'lighten' );
			background-color: brand-color( $default, 'lighten' );
		}
	}

    .is-style-outline > &:not(.has-text-color), // front-end
    .is-style-outline & {
        border: 2px solid $base-color;
        // color: brand-color( $default );
		background-color: transparent;
        padding: .5em 1.5em;

        &:hover,
        &:focus {
            border: 2px solid brand-color( $default );
			background-color: brand-color( $default );
            color: $base-color;
        }
    }
    
	@each $name, $color in $brand_colors {

		&.has-#{$name}-color:hover,
		&.has-#{$name}-color:focus {
			color: $color;
		}

		&.has-#{$name}-background-color:hover,
		&.has-#{$name}-background-color:focus {
			background-color: brand-color( $name, 'lighten' );
		}
	}

}