@use "abstracts" as *;

/* Entry Meta
--------------------------------------------- */

/* Entry Meta
--------------------------------------------- */
.entry-header {

    .entry-time,
    .entry-author,
    .entry-categories {
        position: relative;
        font-size: 16px;
        padding-left: 28px;
        margin-right: 1em;

        &::before {
            content:'';
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateY(-50%);
            background: url(../../assets/icons/utility/calendar.svg) no-repeat 50% 50%;
            background-size: cover;
            width: 20px;
            height: 20px;
        }
    }

    .entry-categories {

        &::before {
            background: url(../../assets/icons/utility/folder.svg) no-repeat 50% 50%;
            background-size: cover;
        }
    }

    .entry-author {

        &::before {
            background: url(../../assets/icons/utility/user.svg) no-repeat 50% 50%;
            background-size: cover;
        }
    }

	.entry-footer & {
		border-top: 1px solid $grey_3;
		padding-top: $block-margin;
        margin-top: $block-margin;
	}

	// .entry-comments-link::before {
	// 	content: "\2014";
	// 	margin: 0 6px 0 2px;
	// }
} 
  
.entry-tags {
	display: flex;
    flex-flow: row wrap;
    margin: 2rem 0;
    padding: 1rem 0;
    border-top: 1px solid $grey_3;

    a {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        padding: 4px 8px 4px 32px;
        margin: 0 8px 8px 0;
        background-color: transparent;
        text-decoration: none;
        color: $base-color;
        border-radius: $border-radius;
        border: 2px solid $border-color;
        position: relative;

        &::before {
            content:'';
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 8px;
            transform: translateY(-50%);
            background: url(../../assets/icons/utility/tag.svg) no-repeat 50% 50%;
            background-size: cover;
            width: 16px;
            height: 16px;
        }

        &:hover {
            background-color: $primary-color;
            border-color: $primary-color;
        }
    }
}

.breadcrumb {
	font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .65px;
	margin-bottom: 24px;
    color: $grey_6;

	a {
		color: $primary-color;

		&:hover {
			color: $grey_6;
		}
	}

	.single & {
		// border-top: 1px solid $grey_3;
		padding-top: 32px;
		// text-align: center;
	}
}

.author-box {
	position: relative;
	padding-left: 120px;
	min-height: 120px;

	.archive & {
		grid-column: 1 / -1;
		max-width: $content-width;
		margin: 0 auto $grid-gap;
	}

	.author-box-title {
		@include font-sizes( 22px, 28px );
	}

	.avatar {
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
	}
}