@use "abstracts" as *;

/* Restrict content Pro
------------------------------------------------------------------------------ */
.restricted {
    position: relative;
    width: 100%;
    background-color: $light-grey;
    border: 1px solid $grey_5;
    border-radius: 4px;
    padding: 25px;
    margin: 4rem auto;

    &__icon {
        width: 55px;
        margin: 0 auto 10px;
    }

    &__copy {
        p {
            text-align: center;
            margin-bottom: 1rem;
        }
    }

    &__icon,
    &__copy {
        position: relative;
        z-index: 9;
    }
}
